<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Veritrans Embedded Form</title>
	<link rel="stylesheet" href="http://jondavidjohn.github.io/payform/stylesheets/styles.css">
	<link rel="stylesheet" href="http://jondavidjohn.github.io/payform/stylesheets/pygment_trac.css">
</head>

<body>
	<section>
		<div>
			<span class="field">
            <label for="ccnum">Card Number</label>
            <input placeholder="---- ---- ---- ----" type="tel" size="19" name="ccnum" value="" id="ccnum">
          </span>
			<div><small>type: <strong id="ccnum-type">invalid</strong></small></div>
		</div>

		<div>
			<span class="field">
            <label for="expiry">Expiration</label>
            <input placeholder="-- / --" size="7" type="tel" name="expiry" value="" id="expiry">
          </span>

			<span class="cvc field">
            <label for="cvc">CVC</label>
            <input placeholder="---" size="4" type="tel" name="cvc" value="" id="cvc">
          </span>
		</div>

		<div>
			<span class="field">
            <label for="grossAmount">Amount</label>
            <input placeholder="100000" type="tel" size="19" name="grossAmount" value="" id="grossAmount">
          </span>
			<div><small>type: <strong id="ccnum-type">invalid</strong></small></div>
		</div>

		<div>
			<button id="submit">Validate</button>
			<div id="result" class="emoji"></div>
		</div>
	</section>
	<script src="http://jondavidjohn.github.io/payform/javascripts/scale.fix.js"></script>
	<script src="http://jondavidjohn.github.io/payform/javascripts/payform.min.js"></script>
	<script src="http://jondavidjohn.github.io/payform/javascripts/form.js"></script>

	<script src="http://127.0.0.1:8080/Veritrans.js"></script>
	<script>
		Veritrans.url = "${url}";
		Veritrans.client_key = "${clientKey}";
	</script>
	<script>
		var card = function(){
			return {
			'card_number'     	: document.getElementById("ccnum").value.replace(/\s+/, "").trim(),
			'card_exp_month'  	: payform.parseCardExpiry(document.getElementById("expiry").value).month < 10 ? "0" + payform.parseCardExpiry(document.getElementById("expiry").value).month : 
			payform.parseCardExpiry(document.getElementById("expiry").value).month,
			'card_exp_year'   	: payform.parseCardExpiry(document.getElementById("expiry").value).year,
			'card_cvv'        	: document.getElementById("cvc").value.replace(/\s+/, "").trim(),
			'secure'       		: false,
			'gross_amount'   	: document.getElementById("grossAmount").value.replace(/\s+/, "").trim()
			}
		};
		
		document.getElementById("submit").addEventListener("click", function( event ) {
			globalEventAttach = event;
			console.log(card());
			if (document.getElementById("result").classList.contains("valid")) {
				Veritrans.token(card(), function(event){
					if (event.data) {
						window.parent.postMessage(event.data.token_id, "http://${host}");
					}
				});	
			}
		});
	</script>
</body>

</html>